* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat';
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
}

.image_cont {
    width: 100%;
    height: 85.5vw;
    background-repeat: no-repeat;
    background-image: url(page1_bgimage.png);
    background-size: cover;
}

button:hover {
    scale: 1.06;
    transition: all 0.4s ease-out;
}

nav {
    height: 8.5vw;
    width: 96%;
    margin: 0 auto;
    display: flex;

    .nav_part1 {
        height: 100%;
        width: 32.7%;
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
            font-size: 3vw;
        }

        img {
            width: 6.5vw;
            margin: 0 8vw 0 0;
        }
    }

    .nav_part2 {
        height: 100%;
        width: 34.7%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #626262;
            font-size: 1.3vw;
            font-weight: 500;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: .04vw;
            transition: all 0.5s ease-in-out;
        }

        a:hover {
            transition: all 0.4s ease-out;
            color: white;
        }

    }

    .nav_part3 {
        height: 100%;
        width: calc(100% - 32.7% - 34.7%);
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            color: #B8B8B8;
            background-color: rgba(128, 128, 128, 0.137);
            border: none;
            font-size: 1.33vw;
            font-weight: 400;
            padding: .9vw 2.1vw .8vw 2.1vw;
            border-radius: 2vw;
            margin: 0 0 0 3vw;
            letter-spacing: .03vw;
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.5s ease-in-out;
        }
    }
}

.sec_1_center {
    width: 79.3%;
    height: 18vw;
    /* background-color: red; */
    margin: 3.8vw auto 0 auto;
    display: flex;

    .center_1 {
        height: 100%;
        width: 64%;

        h1 {
            font-size: 8vw;
            font-family: "Poppins";
            font-weight: 500;
            line-height: 9.3vw;
            color: #F8F8F7;
            letter-spacing: -.3vw;
        }
    }

    .center_2 {
        height: 100%;
        width: calc(100% - 64%);
        padding: 1.8vw 0 0 .6vw;

        p {
            color: #b8b8b8a0;
            font-weight: 400;
            font-size: 1.4vw;
            line-height: 2.3vw;
            letter-spacing: .01vw;
        }

        button {
            color: black;
            font-size: 2.2vw;
            font-weight: 500;
            background-color: #D3FF23;
            border-radius: 3vw;
            padding: 1vw 3vw;
            margin-top: 2.5vw;
            font-family: "Poppins";
            border: none;
            transition: all 0.5s ease-in-out;
        }

        .align {
            display: flex;
            align-items: flex-end;
        }

        .play {
            background-color: #242323;
            border-radius: 50%;
            height: 5.3vw;
            width: 5.3vw;
            margin: 0 0 0 2.6vw;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease-in-out;
        }

        .play:hover {
            scale: 1.1;
            transition: all 0.4s ease-out;
        }

        i {
            font-size: 2.41vw;
        }
    }
}

.sec_1_footer1 {
    /* background-color: red; */
    width: 79.3%;
    margin: 9.8vw auto 0 auto;
    display: flex;

    img {
        width: 4.4vw;
    }

    p {
        color: #626262;
        font-size: 1.2vw;
        font-style: italic;
        font-weight: 400;
        line-height: 1.7vw;
        margin-left: 1.2vw;
    }

    .parah_cont p:first-child {
        padding-top: .4vw;
    }

    span {
        color: #626262;
        font-weight: 600;
        font-size: 1.3vw;
    }
}

.sec_1_footer2 {
    width: 79.3%;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -.2vw;

    img {
        width: 3.6vw;
        height: 3.6vw;
        object-position: top;
        object-fit: cover;
        border-radius: 50%;
        margin-left: -1.1vw;
        border: .24vw solid #121212;
    }

    h1 {
        font-size: 3.3vw;
        margin-left: 1vw;
        word-spacing: -.4vw;
        font-weight: 600;
    }

    .align_1 {
        display: flex;
    }

    .footer_part {
        display: flex;
        align-items: center;
        margin-top: 1.3vw;

        .dot {
            width: .6vw;
            height: .6vw;
            background-color: #D3FF23;
            border-radius: 50%;
        }

        p {
            font-weight: 400;
            font-size: 1.2vw;
            color: #7c7c7c;
            margin-left: .8vw;
        }
    }
}

.sec_2 {
    width: 100%;
    height: 44.7vw;
    position: relative;

    >h1 {
        font-size: 20vw;
        color: rgba(220, 220, 220, 0.294);
        font-style: italic;
        font-weight: 600;
        position: absolute;
        top: -8.3vw;
        left: 3.8vw;
    }

    .sec_2_cont {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;

        .left {
            padding-left: 10.2vw;
            width: 50%;
            height: 100%;

            h6 {
                color: #9F9F9F;
                font-size: 1.4vw;
                font-weight: 500;
                font-style: italic;
                margin: 3.1vw 0 1.8vw 0;
            }

            h1 {
                color: black;
                font-size: 4vw;
                font-weight: 500;
                line-height: 4vw;
                word-spacing: -.5vw;
                font-family: "Poppins";
            }

            p {
                color: #9F9F9F;
                font-weight: 500;
                font-size: 1.4vw;
                line-height: 2.4vw;
            }

            .parah_cont1 {
                padding: 3.3vw 5vw 0 0;
            }

            .btn_cont {
                padding-top: 4.7vw;

                button:first-child {
                    color: white;
                    background-color: black;
                    padding: 1.5vw 3.1vw;
                    font-size: 1.6vw;
                    font-weight: 600;
                    border: none;
                    border-radius: 3vw;
                    transition: all 0.5s ease-in-out;
                }

                button:nth-child(2) {
                    background-color: transparent;
                    border: none;
                    color: black;
                    font-size: 1.6vw;
                    padding: 1.4vw 2.9vw;
                    font-weight: 600;
                    border-radius: 3vw;
                    transition: all 0.5s ease-in-out;
                    margin-left: .6vw;
                    word-spacing: -.2vw;
                }

                button:nth-child(2):hover {
                    background-color: rgba(162, 162, 162, 0.241);
                }

            }
        }

        .right {
            width: 50%;
            height: 100%;
            /* background-color: rgb(254, 213, 137); */

            .right_1 {
                height: 50%;
                width: 100%;
                /* border: 2px solid black; */
                display: flex;
                align-items: flex-end;
                padding-inline-start: 1vw;
                padding-block-end: 1.6vw;

                .box1 {
                    height: 18vw;
                    width: 17.7vw;
                    background-color: rgba(177, 177, 177, 0.175);
                    border-radius: 2vw;
                    margin-inline-end: 2vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h4:first-child {
                        margin-top: 2.2vw;
                        color: #a1a1a1;
                        font-weight: 400;
                        font-size: 1.24vw;
                        margin-bottom: 2vw;
                    }

                    img {
                        width: 4.3vw;
                        margin-bottom: 1.8vw;
                    }

                    h4 {
                        color: #a1a1a1;
                        font-weight: 400;
                        font-size: 1.2vw;
                        line-height: 1.7vw;
                    }
                }

                .box2 {
                    height: 20vw;
                    width: 20vw;
                    background-color: #121212;
                    border-radius: 2.5vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h4:first-child {
                        margin-top: 2.23vw;
                        color: #a1a1a1;
                        font-weight: 500;
                        font-size: 1.24vw;
                        margin-bottom: 2.3vw;
                    }

                    img {
                        width: 9.2vw;
                        margin-bottom: 3.7vw;
                    }

                    h4 {
                        color: #a1a1a1ae;
                        font-weight: 400;
                        font-size: 1.2vw;
                        line-height: 1.9vw;
                    }
                }
            }

            .right_2 {
                height: 50%;
                width: 100%;
                /* background-color: green; */
                padding-inline-start: 1vw;
                display: flex;
                padding-block-start: .4vw;

                .box1 {
                    height: 18vw;
                    width: 17.7vw;
                    background-color: rgba(177, 177, 177, 0.175);
                    border-radius: 2vw;
                    margin-inline-end: 2vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h4:first-child {
                        margin-top: 2.5vw;
                        color: #a1a1a1;
                        font-weight: 400;
                        font-size: 1.2vw;
                        line-height: 1.7vw;
                        margin-bottom: 1.7vw;
                    }

                    img {
                        width: 6vw;
                        margin-bottom: 1.3vw;
                    }

                    h4 {
                        color: #a1a1a1ae;
                        font-weight: 500;
                        font-size: 1.2vw;
                        line-height: 1.7vw;
                    }

                }

                .box2 {
                    height: 18vw;
                    width: 17.7vw;
                    background-color: rgba(177, 177, 177, 0.175);
                    border-radius: 2vw;
                    margin-inline-end: 2vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h4:first-child {
                        margin-top: 2.33vw;
                        color: #a1a1a1;
                        font-weight: 500;
                        font-size: 1.24vw;
                        margin-bottom: 2.3vw;
                    }

                    img {
                        width: 5.1vw;
                        margin-bottom: 1.9vw;
                    }

                    h4 {
                        color: #838383ae;
                        font-weight: 500;
                        font-size: 1.2vw;
                        line-height: 1.7vw;
                    }
                }
            }
        }
    }
}

.sec_3 {
    width: 100%;
    height: 46vw;
    position: relative;

    .count {
        display: flex;
        height: 33%;
        width: 100%;
        align-items: center;

        >h1 {
            font-size: 20vw;
            color: rgba(220, 220, 220, 0.294);
            font-style: italic;
            font-weight: 600;
            margin-left: 3.8vw;
        }

        .outline {
            width: 53vw;
            height: .18vw;
            background-color: rgba(220, 220, 220, 0.294);
            margin-left: 6vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dot1 {
                height: .8vw;
                width: .8vw;
                background-color: rgba(220, 220, 220, 0.294);
                border-radius: 50%;
            }
        }
    }

    .sec_3_main {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-left: 10.5vw;
        padding-top: 6.8vw;

        .sec_3_heading {

            h6 {
                font-size: 1.4vw;
                font-weight: 500;
                font-style: italic;
                color: #9F9F9E;
                margin-bottom: 1.9vw;
            }

            .head_part1 {
                display: flex;
            }

            .head1,
            .head2 {
                width: 50%;
            }

            .head1 h1 {
                color: black;
                font-family: "Poppins";
                font-size: 4.2vw;
                line-height: 4vw;
                font-weight: 500;
                word-spacing: -.4vw;
                letter-spacing: -.11vw;
            }

            .head2 {
                padding: 1vw 10vw 1vw 1.5vw;
            }

            .head2 p {
                color: #9F9F9E;
                font-size: 1.4vw;
                line-height: 2.3vw;
            }

        }

        .sec_3_box {
            width: 88.2%;
            margin-top: 4.3vw;
            height: 20.5vw;
            display: flex;
            justify-content: space-between;

            .info_box1 {
                height: 100%;
                background-color: rgba(177, 177, 177, 0.175);
                width: 24.3vw;
                border-radius: 2.3vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    color: #6b6b6b9c;
                    font-size: 1.4vw;
                    line-height: 2.3vw;
                    font-weight: 500;
                }
            }

            .info_box2 {
                height: 100%;
                background-color: rgba(177, 177, 177, 0.175);
                width: 24.3vw;
                border-radius: 2.3vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    color: #6b6b6b9c;
                    font-size: 1.4vw;
                    line-height: 2.3vw;
                    font-weight: 500;
                }
            }

            .info_box3 {
                height: 100%;
                background-color: rgba(177, 177, 177, 0.175);
                width: 24.3vw;
                border-radius: 2.3vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    color: black;
                }

                p {
                    color: #6b6b6b9c;
                    font-size: 1.4vw;
                    line-height: 2.3vw;
                    font-weight: 500;
                }
            }

            h1 {
                font-size: 6.2vw;
                font-weight: 500;
                color: #D6D6D6;
                letter-spacing: -.2vw;
                font-family: "Poppins";
            }
        }

    }
}

.sec_4 {
    width: 100%;
    height: 52vw;
    margin-top: 7.5vw;
    position: relative;

    .sec_image_cont {
        width: 97%;
        height: 100%;
        background-image: url(cards22.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        border-radius: 5vw;

        >h1 {
            font-size: 20vw;
            font-weight: 600;
            font-style: italic;
            margin-left: 3vw;
            color: rgba(255, 255, 255, 0.02);
        }

        .font_cont {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }

    .font_cont {
        padding: 13vw 0 0 10vw;

        h2 {
            font-size: 4vw;
            font-weight: 500;
            font-family: "Poppins";
            line-height: 5vw;
        }

        button {
            color: black;
            background-color: #D3FF23;
            font-size: 1.6vw;
            border-radius: 4vw;
            font-weight: 700;
            padding: 1.5vw 2.8vw;
            margin: 4.7vw 0 0 0;
            transition: all 0.4s ease-in-out;
            border: none;
        }
    }
}

.sec_5 {
    width: 100%;
    height: 94vw;
    position: relative;

    .count1 {
        width: 100%;
        height: 40%;
        margin-top: 1vw;

        h1 {
            font-size: 20vw;
            font-weight: 600;
            font-style: italic;
            margin-left: 3vw;
            color: #c2c2c22b;
        }
    }

    .sec_5_cont {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* background-color: rgba(255, 0, 0, 0.353); */
        padding: 11.5vw 0 0 10.4vw;

        .heading {
            display: flex;
            align-items: center;
            /* background-color: red; */
            margin-bottom: 1.8vw;
        }

        .outline {
            width: 53vw;
            height: .18vw;
            background-color: rgba(220, 220, 220, 0.294);
            margin-left: 6vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 18vw;

            .dot {
                height: .8vw;
                width: .8vw;
                background-color: rgba(220, 220, 220, 0.294);
                border-radius: 50%;
            }
        }

        .heading h6 {
            font-size: 1.3vw;
            font-weight: 400;
            font-style: italic;
            color: #a1a1a1;
        }

        .center {
            width: 100%;
            height: 5vw;
            display: flex;

            .center1,
            .center2 {
                width: 50%;
                height: fit-content;
            }

            .center1 h1 {
                font-size: 4vw;
                font-weight: 600;
                color: black;
                line-height: 4vw;
                word-spacing: -.9vw;
            }

            .center2 {
                padding: 1vw 5vw 0 4.3vw;

                p {
                    font-size: 1.5vw;
                    line-height: 2.2vw;
                    color: #a1a1a1;
                }
            }
        }

        .boxs {
            width: 88.2%;
            height: 20.5vw;
            display: flex;
            justify-content: space-between;

            .box {
                height: 100%;
                width: 24.3vw;
                background-color: rgba(220, 220, 220, 0.294);
                border-radius: 2.3vw;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 11vw;
                }
            }

            .box2 img {
                width: 13vw;
            }

            .box4 img {
                width: 14vw;
            }

            .box5 img {
                width: 16vw;
            }

            .box6 img {
                width: 12vw;
            }

            .box8 img {
                width: 13vw;
            }
        }

        .align_2 {
            margin-top: 2.2vw;
        }

        .spacing {
            margin-top: 8.4vw;
        }
    }
}

.sec_6 {
    width: 100%;
    height: 80vw;
    position: relative;

    .count1 {
        width: 100%;
        height: 40%;
        /* margin-top: 1vw; */

        h1 {
            font-size: 20vw;
            font-weight: 600;
            font-style: italic;
            margin-left: 3vw;
            color: #c2c2c22b;
        }
    }

    .sec_6_cont {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* background-color: rgba(255, 0, 0, 0.353); */
        padding: 11.5vw 0 0 10.4vw;

        .heading {
            display: flex;
            align-items: center;
            margin-bottom: 1.8vw;
        }

        .outline {
            width: 53vw;
            height: .18vw;
            background-color: rgba(220, 220, 220, 0.294);
            margin-left: 6vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 18vw;

            .dot {
                height: .8vw;
                width: .8vw;
                background-color: rgba(220, 220, 220, 0.294);
                border-radius: 50%;
            }
        }

        .heading h6 {
            font-size: 1.3vw;
            font-weight: 400;
            font-style: italic;
            color: #a1a1a1;
        }

        .center {
            width: 100%;
            height: 5vw;
            display: flex;

            .center1,
            .center2 {
                width: 50%;
                height: fit-content;
            }

            .center1 h1 {
                font-size: 4vw;
                font-weight: 600;
                color: black;
                line-height: 4vw;
                word-spacing: -.9vw;
            }

            .center2 {
                padding: 1vw 5vw 0 4.3vw;

                p {
                    font-size: 1.5vw;
                    line-height: 2.2vw;
                    color: #a1a1a1;
                }
            }
        }

        .sec6_image_cont{
            width: 90%;
            height: 45vw;
            background-image: url(last.png);
            background-size: cover;
            margin-top: 8vw;
            transition: all 0.4s;
        }
        .sec6_image_cont:hover{
            scale: 1.1;
        }
    }
}
.sec7{
    width: 100%;
    height: 55vw;
    background-image: url(footer.png);
    background-repeat: no-repeat;
    background-size: cover;

    .heading {
        padding-top: 12.7vw;
        h1{
            font-size: 4vw;
            font-weight: 600;
            text-align: center;
        }
        .btn{
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                color: black;
                background-color: #D3FF23;
                font-size: 1.6vw;
                padding: 1.4vw 3vw;
                font-weight: 600;
                border-radius: 4vw;
                margin-top: 5vw;
                transition: all 0.4s ease-in-out;
                border: none;
            }
        }
    }
    .footer1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 13.3vw;

        img{
            width: 6.4vw;
        }
    }
    .footer2{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        span{
            margin-top: 2.8vw;
            color:#626262;
            font-size: 1.2vw;
            font-weight: 500;
        }

        span:nth-child(2){
            margin-right: 5vw;
        }
    }
}